[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
.vs/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.unityproj
*.pidb
*.booproj
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
crashlytics-build.properties
Assets/AssetStoreTools*
.DS_Store
